<% if logged_in? && user_coin.coin_6 %>
  <%= line_chart graph_data, curve: false, height: "350px", id: "chart6" %>
  <div id="title6">
    <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data6, name: @name6, coin_type: @coin_type6, usd: @usd6} %>
  </div>
<% else %>
  <div class="chart-section">
    <%= line_chart graph_data, curve: false, height: "350px", id: "chart6" %>
    <h3 style="padding-top: 25px; color: #000;">
      <b><%= Coin.find_symbol(@name6).split('-')[1] %>: <%= @coin_type6[1] %><%= (@sidebar_data6.first.last * @usd6).round(2) %> <%= @coin_type6[2] %></b>
    </h3>
  </di>
<% end %>
