$("#sidebar_menu6").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data6, name: @name6, coin_type: @coin_type6, usd: @usd6  } ) %>");
$("#line_chart6").html("<%= escape_javascript(render partial: 'coins6/chart', locals: { graph_data: @graph_data6 } ) %>");
$("#get_coin6").html("<%= escape_javascript(render partial: 'coins6/navbar', locals: { get_coin: coin6_path(@name6), name: @name6} ) %>");

<% if logged_in? && user_coin.coin_6 %>
  $("#title6").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data6, name: @name6, coin_type: @coin_type6, usd: @usd6 } ) %>");
<% end %>

$('#loadingmessage6').hide();
$('#line_chart6').show();
