<!-- <script>
  var ctx2 = document.getElementById("myChart2");
  var myChart2 = new Chart(ctx2, {
      type: 'line',
      data: {
          labels: <%= raw graph_data.map(&:first) %>,
          datasets: [{
              label: 'Price',
              data: <%= raw graph_data.map(&:second) %>,
              borderWidth: 1,
              borderColor: "<%= ["#ffce56","#36a2eb","#cc65fe","#ff6384"].sample %>",
              fill: false
          }],
      },
      responsive: true,
      animationSteps: 400,
      options: {
        elements: {
            line: {
                tension: 0, // disables bezier curves
            }
        },
        legend: {
            display: false
        }
      }
  });

  // setInterval(function() {
  //   myChart2.labels = <%= raw graph_data.map(&:first) %>;
  //   myChart2.data.datasets[0].data = <%= raw graph_data.map(&:second) %>;
  //   myChart2.update();
  // }, 3000);
</script> -->
<%= line_chart graph_data, curve: false, height: "350px", id: "chart2" %>
<div id="title2">
  <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data2, name: @name2, coin_type: @coin_type2, usd: @usd2} %>
</div>
