<div class="main-columns w-col w-col-6">
  <div class="row w-row">

    <div class="chart-column w-col w-col-8">
      <div class="column-wrapper">
        <div id="get_coin2">
          <%= render partial: 'coins2/navbar', locals: { get_coin: coin2_path(@name2), name: @name2} %>
        </div>
        <div class="chart-section">
          <div id='loadingmessage2' style='display:none'>
            <%= image_tag "loading.gif" %>
          </div>
          <div id="line_chart2">
            <%= render partial: 'coins2/chart', locals: { graph_data: @graph_data2} %>
          </div>
        </div>
      </div>
    </div>

    <div class="coin-column w-col w-col-4">
      <div class="coin column-wrapper right-gap">
        <div class="nav w-nav">
          <div class="search-form w-clearfix">
            <%= text_field_tag :name2, params[:name2], placeholder: "Select Coin", class: "search-field w-input" %>
            <%= image_tag "magnifying-glass.svg", width: "28", class: 'search-btn' %>
          </div>
        </div>

        <div id="sidebar_menu2" >
          <%= render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data2, name: @name2, coin_type: @coin_type2, usd: @usd2} %>
        </div>
      </div>
    </div>
  </div>
</div>
