$("#sidebar_menu2").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data2, name: @name2, coin_type: @coin_type2, usd: @usd2 } ) %>");
$("#line_chart2").html("<%= escape_javascript(render partial: 'coins2/chart', locals: { graph_data: @graph_data2 } ) %>");
$("#get_coin2").html("<%= escape_javascript(render partial: 'coins2/navbar', locals: { get_coin: coin2_path(@name2), name: @name2} ) %>");
$("#title2").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data2, name: @name2, coin_type: @coin_type2, usd: @usd2 } ) %>");

$('#loadingmessage2').hide();
$('#line_chart2').show();
