<% if logged_in? && user_coin.coin_4 %>
  <%= line_chart graph_data, curve: false, height: "350px", id: "chart4" %>
  <div id="title4">
    <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data4, name: @name4, coin_type: @coin_type4, usd: @usd4} %>
  </div>
<% else %>
  <div class="chart-section">
    <%= line_chart graph_data, curve: false, height: "350px", id: "chart4" %>
    <h3 style="padding-top: 25px; color: #000;">
      <b><%= Coin.find_symbol(@name4).split('-')[1] %>: <%= @coin_type4[1] %><%= (@sidebar_data4.first.last * @usd4).round(2) %> <%= @coin_type4[2] %></b>
    </h3>
  </di>
<% end %>
