<div class="main-columns w-col w-col-6">
  <div class="row w-row">

    <div class="chart-column w-col w-col-8">
      <div class="column-wrapper">
        <div id="get_coin4">
          <% if logged_in? %>
            <% if user_coin.coin_4 %>
              <%= render partial: 'coins4/navbar', locals: { get_coin: coin4_path(@name4), name: @name4} %>
            <% else %>
              <%= render partial: 'coins4/navbar', locals: { get_coin: coin4_path(@name4), name: ""} %>
            <% end %>
          <% else %>
            <%= render partial: 'coins4/navbar', locals: { get_coin: coin4_path(@name4), name: ""} %>
          <% end %>
        </div>
        <div class="chart-section">
          <div id='loadingmessage4' style='display:none'>
            <%= image_tag "loading.gif" %>
          </div>
          <% if logged_in? %>
            <% if user_coin.coin_4 %>
              <div id="line_chart4">
                <%= render partial: 'coins4/chart', locals: { graph_data: @graph_data4} %>
              </div>
            <% else %>
              <div id="line_chart4">
                <a class="add-coin-btn w-clearfix w-inline-block" href="#">
                  <%= image_tag "add.svg", width: 32 %>
                  <div class="add-coin-txt"><%= text_field_tag :name4, params[:name4], placeholder: "Add a Coin", class: "search-field" %></div>
                </a>
              </div>
            <% end %>
          <% else %>
            <h3 style="color: black;margin-top: 200px;"> Please login to view the coin. </h3>
          <% end %>
        </div>
      </div>
    </div>

    <div class="coin-column w-col w-col-4">
      <div class="coin column-wrapper right-gap">
        <div class="nav w-nav">
          <div class="search-form w-clearfix">
            <% if logged_in? %>
              <%= text_field_tag :name4, params[:name4], placeholder: "Select Coin", class: "search-field w-input" %>
              <%= image_tag "magnifying-glass.svg", width: "28", class: 'search-btn' %>
            <% end %>
          </div>
        </div>

        <div id="sidebar_menu4" >
          <%= render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data4, name: @name4, coin_type: @coin_type4, usd: @usd4 } %>
        </div>
      </div>
    </div>
  </div>
</div>
