$("#sidebar_menu4").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data4, name: @name4, coin_type: @coin_type4, usd: @usd4  } ) %>");
$("#line_chart4").html("<%= escape_javascript(render partial: 'coins4/chart', locals: { graph_data: @graph_data4 } ) %>");
$("#get_coin4").html("<%= escape_javascript(render partial: 'coins4/navbar', locals: { get_coin: coin4_path(@name4), name: @name4} ) %>");

<% if logged_in? && user_coin.coin_4 %>
  $("#title4").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data4, name: @name4, coin_type: @coin_type4, usd: @usd4 } ) %>");
<% end %>

$('#loadingmessage4').hide();
$('#line_chart4').show();
