<% if logged_in? && user_coin.coin_8 %>
  <%= line_chart graph_data, curve: false, height: "350px", id: "chart8" %>
  <div id="title8">
    <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data8, name: @name8, coin_type: @coin_type8, usd: @usd8} %>
  </div>
<% else %>
  <div class="chart-section">
    <%= line_chart graph_data, curve: false, height: "350px", id: "chart8" %>
    <h3 style="padding-top: 25px; color: #000;">
      <b><%= Coin.find_symbol(@name8).split('-')[1] %>: <%= @coin_type8[1] %><%= (@sidebar_data8.first.last * @usd8).round(2) %> <%= @coin_type8[2] %></b>
    </h3>
  </di>
<% end %>
