$("#sidebar_menu8").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data8, name: @name8, coin_type: @coin_type8, usd: @usd8  } ) %>");
$("#line_chart8").html("<%= escape_javascript(render partial: 'coins8/chart', locals: { graph_data: @graph_data8 } ) %>");
$("#get_coin8").html("<%= escape_javascript(render partial: 'coins8/navbar', locals: { get_coin: coin8_path(@name8), name: @name8} ) %>");

<% if logged_in? && user_coin.coin_8 %>
  $("#title8").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data8, name: @name8, coin_type: @coin_type8, usd: @usd8 } ) %>");
<% end %>

$('#loadingmessage8').hide();
$('#line_chart8').show();
