<div class="sidebar-section">
  <% sidebar_data.each do |data| %>
      <div class="price-wrapper w-clearfix">
        <% diff = data.last - data.raw['PrevDay'] %>
        <div class="coin-name <%= diff.positive? ? 'green' : 'red' %>">LAST</div>
        <%= image_tag "#{diff.positive? ? 'upload.svg' : 'download.svg'}", class: 'status-icon', width: 25 %>
        <div class="div-block w-clearfix">
          <div class="price small-top" style="float:right;"><%= coin_type[0] %> <%= "%f" % data.last %></div>
          <div class="price"><%= coin_type[1] %> <%= (data.last * usd).round(2) %></div>
        </div>
      </div>
      <div class="price-wrapper w-clearfix">
        <% diff = data.raw['Bid'] - data.raw['PrevDay'] %>
        <div class="coin-name <%= diff.positive? ? 'green' : 'red' %>"><%= coin_type[0] %>VOL</div>
        <%= image_tag "#{diff.positive? ? 'upload.svg' : 'download.svg'}", class: 'status-icon', width: 25 %>
        <div class="div-block w-clearfix">
          <div class="price small-top" style="float:right;"><%= coin_type[0] %> <%= "%f" % data.base_volume %></div>
          <div class="price"><%= coin_type[1] %> <%= (data.base_volume * usd).round(2) %></div>
        </div>
      </div>
      <div class="price-wrapper w-clearfix">
        <% diff = data.raw['Bid'] - data.raw['PrevDay'] %>
        <div class="coin-name <%= diff.positive? ? 'green' : 'red' %>">BID</div>
        <%= image_tag "#{diff.positive? ? 'upload.svg' : 'download.svg'}", class: 'status-icon', width: 25 %>
        <div class="div-block w-clearfix">
          <div class="price small-top" style="float:right;"><%= coin_type[0] %> <%= "%f" % data.raw['Bid'] %></div>
          <div class="price"><%= coin_type[1] %> <%= (data.raw['Bid'] * usd).round(2) %></div>
        </div>
      </div>
      <div class="price-wrapper w-clearfix">
        <% diff = data.raw['Ask'] - data.raw['PrevDay'] %>
        <div class="coin-name <%= diff.positive? ? 'green' : 'red' %>">ASK</div>
        <%= image_tag "#{diff.positive? ? 'upload.svg' : 'download.svg'}", class: 'status-icon', width: 25 %>
        <div class="div-block w-clearfix">
          <div class="price small-top" style="float:right;"><%= coin_type[0] %> <%= "%f" % data.raw['Ask'] %></div>
          <div class="price"> <%= coin_type[1] %> <%= (data.raw['Ask'] * usd).round(2) %></div>
        </div>
      </div>
      <div class="price-wrapper w-clearfix">
        <% diff = data.high - data.raw['PrevDay'] %>
        <div class="coin-name <%= diff.positive? ? 'green' : 'red' %>">24H HIGH</div>
        <%= image_tag "#{diff.positive? ? 'upload.svg' : 'download.svg'}", class: 'status-icon', width: 25 %>
        <div class="div-block w-clearfix">
          <div class="price small-top" style="float:right;"><%= coin_type[0] %> <%= "%f" % data.raw['PrevDay'] %></div>
          <div class="price"><%= coin_type[1] %> <%= (data.high * usd).round(2) %></div>
        </div>
      </div>
      <div class="price-wrapper w-clearfix" style="border-bottom: 0px;">
        <% diff = data.low - data.raw['PrevDay'] %>
        <div class="coin-name <%= diff.positive? ? 'green' : 'red' %>">24H LOW</div>
        <%= image_tag "#{diff.positive? ? 'upload.svg' : 'download.svg'}", class: 'status-icon', width: 25 %>
        <div class="div-block w-clearfix">
          <div class="price small-top" style="float:right;"><%= coin_type[0] %> <%= "%f" % data.raw['PrevDay'] %></div>
          <div class="price"><%= coin_type[1] %> <%= (data.low * usd).round(2) %></div>
        </div>
      </div>
  <% end %>
</div>
