<div class="w-row">
  <%= render partial: "coins/coin" %>
  <%= render partial: "coins2/coin" %>
</div>

<div class="w-row">
  <%= render partial: "coins3/coin" %>
  <%= render partial: "coins4/coin" %>
</div>

<div class="w-row">
  <%= render partial: "coins5/coin" %>
  <%= render partial: "coins6/coin" %>
</div>

<div class="w-row">
  <%= render partial: "coins7/coin" %>
  <%= render partial: "coins8/coin" %>
</div>

<div class="w-row">
  <%= render partial: "coins9/coin" %>
  <%= render partial: "coins10/coin" %>
</div>
