<% if logged_in? && user_coin.coin_10 %>
  <%= line_chart graph_data, curve: false, height: "350px", id: "chart10" %>
  <div id="title10">
    <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data10, name: @name10, coin_type: @coin_type10, usd: @usd10} %>
  </div>
<% else %>
  <div class="chart-section">
    <%= line_chart graph_data, curve: false, height: "350px", id: "chart10" %>
    <h3 style="padding-top: 25px; color: #000;">
      <b><%= Coin.find_symbol(@name10).split('-')[1] %>: <%= @coin_type10[1] %><%= (@sidebar_data10.first.last * @usd10).round(2) %> <%= @coin_type10[2] %></b>
    </h3>
  </di>
<% end %>
