$("#sidebar_menu10").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data10, name: @name10, coin_type: @coin_type10, usd: @usd10  } ) %>");
$("#line_chart10").html("<%= escape_javascript(render partial: 'coins10/chart', locals: { graph_data: @graph_data10 } ) %>");
$("#get_coin10").html("<%= escape_javascript(render partial: 'coins10/navbar', locals: { get_coin: coin10_path(@name10), name: @name10} ) %>");

<% if logged_in? && user_coin.coin_10 %>
  $("#title10").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data10, name: @name10, coin_type: @coin_type10, usd: @usd10 } ) %>");
<% end %>

$('#loadingmessage10').hide();
$('#line_chart10').show();
