<% if logged_in? && user_coin.coin_5 %>
  <%= line_chart graph_data, curve: false, height: "350px", id: "chart5" %>
  <div id="title5">
    <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data5, name: @name5, coin_type: @coin_type5, usd: @usd5} %>
  </div>
<% else %>
  <div class="chart-section">
    <%= line_chart graph_data, curve: false, height: "350px", id: "chart5" %>
    <h3 style="padding-top: 25px; color: #000;">
      <b><%= Coin.find_symbol(@name5).split('-')[1] %>: <%= @coin_type5[1] %><%= (@sidebar_data5.first.last * @usd5).round(2) %> <%= @coin_type5[2] %></b>
    </h3>
  </di>
<% end %>
