<div class="main-columns w-col w-col-6">
  <div class="row w-row">

    <div class="chart-column w-col w-col-8">
      <div class="column-wrapper">
        <div id="get_coin5">
          <% if logged_in? %>
            <% if user_coin.coin_5 %>
              <%= render partial: 'coins5/navbar', locals: { get_coin: coin5_path(@name5), name: @name5} %>
            <% else %>
              <%= render partial: 'coins5/navbar', locals: { get_coin: coin5_path(@name5), name: ""} %>
            <% end %>
          <% else %>
            <%= render partial: 'coins5/navbar', locals: { get_coin: coin5_path(@name5), name: ""} %>
          <% end %>
        </div>
        <div class="chart-section">
          <div id='loadingmessage5' style='display:none'>
            <%= image_tag "loading.gif" %>
          </div>
          <% if logged_in? %>
            <% if user_coin.coin_5 %>
              <div id="line_chart5">
                <%= render partial: 'coins5/chart', locals: { graph_data: @graph_data5} %>
              </div>
            <% else %>
              <div id="line_chart5">
                <a class="add-coin-btn w-clearfix w-inline-block" href="#">
                  <%= image_tag "add.svg", width: 32 %>
                  <div class="add-coin-txt"><%= text_field_tag :name5a, params[:name5a], placeholder: "Add a Coin", class: "search-field" %></div>
                </a>
              </div>
            <% end %>
          <% else %>
            <h3 style="color: black;margin-top: 200px;"> Please login to view the coin. </h3>
          <% end %>
        </div>
      </div>
    </div>

    <div class="coin-column w-col w-col-4">
      <div class="coin column-wrapper right-gap">
        <div class="nav w-nav">
          <% if logged_in? %>
            <div class="search-form w-clearfix">
              <%= text_field_tag :name5, params[:name5], placeholder: "Select Coin", class: "search-field w-input" %>
              <%= image_tag "magnifying-glass.svg", width: "28", class: 'search-btn' %>
            </div>
          <% end %>
        </div>

        <div id="sidebar_menu5" >
          <%= render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data5, name: @name5, coin_type: @coin_type5, usd: @usd5 } %>
        </div>
      </div>
    </div>
  </div>
</div>
