$("#sidebar_menu5").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data5, name: @name5, coin_type: @coin_type5, usd: @usd5  } ) %>");
$("#line_chart5").html("<%= escape_javascript(render partial: 'coins5/chart', locals: { graph_data: @graph_data5 } ) %>");
$("#get_coin5").html("<%= escape_javascript(render partial: 'coins5/navbar', locals: { get_coin: coin5_path(@name5), name: @name5} ) %>");

<% if logged_in? && user_coin.coin_5 %>
  $("#title5").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data5, name: @name5, coin_type: @coin_type5, usd: @usd5 } ) %>");
<% end %>

$('#loadingmessage5').hide();
$('#line_chart5').show();
