<% if logged_in? && user_coin.coin_7 %>
  <%= line_chart graph_data, curve: false, height: "350px", id: "chart7" %>
  <div id="title7">
    <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data7, name: @name7, coin_type: @coin_type7, usd: @usd7} %>
  </div>
<% else %>
  <div class="chart-section">
    <%= line_chart graph_data, curve: false, height: "350px", id: "chart7" %>
    <h3 style="padding-top: 25px; color: #000;">
      <b><%= Coin.find_symbol(@name7).split('-')[1] %>: <%= @coin_type7[1] %><%= (@sidebar_data7.first.last * @usd7).round(2) %> <%= @coin_type7[2] %></b>
    </h3>
  </di>
<% end %>
