$("#sidebar_menu7").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data7, name: @name7, coin_type: @coin_type7, usd: @usd7  } ) %>");
$("#line_chart7").html("<%= escape_javascript(render partial: 'coins7/chart', locals: { graph_data: @graph_data7 } ) %>");
$("#get_coin7").html("<%= escape_javascript(render partial: 'coins7/navbar', locals: { get_coin: coin7_path(@name7), name: @name7} ) %>");

<% if logged_in? && user_coin.coin_7 %>
  $("#title7").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data7, name: @name7, coin_type: @coin_type7, usd: @usd7 } ) %>");
<% end %>

$('#loadingmessage7').hide();
$('#line_chart7').show();
