<!-- <script>
  var ctx3 = document.getElementById("myChart3");
  var myChart3 = new Chart(ctx3, {
      type: 'line',
      data: {
          labels: <%= raw graph_data.map(&:first) %>,
          datasets: [{
              label: 'Price',
              data: <%= raw graph_data.map(&:second) %>,
              borderWidth: 1,
              borderColor: "<%= ["#ffce56","#36a2eb","#cc65fe","#ff6384"].sample %>",
              fill: false
          }],
      },
      responsive: true,
      animationSteps: 400,
      options: {
        elements: {
            line: {
                tension: 0, // disables bezier curves
            }
        },
        legend: {
            display: false
        }
      }
  });

  // setInterval(function() {
  //   myChart.labels = <%= raw graph_data.map(&:first) %>;
  //   myChart.data.datasets[0].data = <%= raw graph_data.map(&:second) %>;
  //   myChart.update();
  // }, 3000);
</script> -->
<%= line_chart graph_data, curve: false, height: "350px", id: "chart3" %>
<div id="title3">
  <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data3, name: @name3, coin_type: @coin_type3, usd: @usd3} %>
</div>
