<div class="main-columns w-col w-col-6">
  <div class="row w-row">

    <div class="chart-column w-col w-col-8">
      <div class="column-wrapper">
        <div id="get_coin3">
          <%= render partial: 'coins3/navbar', locals: { get_coin: coin3_path(@name3), name: @name3} %>
        </div>
        <div class="chart-section">
          <div id='loadingmessage3' style='display:none'>
            <%= image_tag "loading.gif" %>
          </div>
          <div id="line_chart3">
            <%= render partial: 'coins3/chart', locals: { graph_data: @graph_data3} %>
          </div>
        </div>
      </div>
    </div>

    <div class="coin-column w-col w-col-4">
      <div class="coin column-wrapper right-gap">
        <div class="nav w-nav">
          <div class="search-form w-clearfix">
            <%= text_field_tag :name3, params[:name3], placeholder: "Select Coin", class: "search-field w-input" %>
            <%= image_tag "magnifying-glass.svg", width: "28", class: 'search-btn' %>
          </div>
        </div>

        <div id="sidebar_menu3" >
          <%= render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data3, name: @name3, coin_type: @coin_type3, usd: @usd3 } %>
        </div>
      </div>
    </div>
  </div>
</div>
