$("#sidebar_menu3").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data3, name: @name3, coin_type: @coin_type3, usd: @usd3  } ) %>");
$("#line_chart3").html("<%= escape_javascript(render partial: 'coins3/chart', locals: { graph_data: @graph_data3 } ) %>");
$("#get_coin3").html("<%= escape_javascript(render partial: 'coins3/navbar', locals: { get_coin: coin3_path(@name3), name: @name3} ) %>");
$("#title3").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data3, name: @name3, coin_type: @coin_type3, usd: @usd3 } ) %>");

$('#loadingmessage3').hide();
$('#line_chart3').show();
