<% if logged_in? && user_coin.coin_9 %>
  <%= line_chart graph_data, curve: false, height: "350px", id: "chart9" %>
  <div id="title9">
    <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data9, name: @name9, coin_type: @coin_type9, usd: @usd9} %>
  </div>
<% else %>
  <div class="chart-section">
    <%= line_chart graph_data, curve: false, height: "350px", id: "chart9" %>
    <h3 style="padding-top: 25px; color: #000;">
      <b><%= Coin.find_symbol(@name9).split('-')[1] %>: <%= @coin_type9[1] %><%= (@sidebar_data9.first.last * @usd9).round(2) %> <%= @coin_type9[2] %></b>
    </h3>
  </di>
<% end %>
