$("#sidebar_menu9").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data9, name: @name9, coin_type: @coin_type9, usd: @usd9  } ) %>");
$("#line_chart9").html("<%= escape_javascript(render partial: 'coins9/chart', locals: { graph_data: @graph_data9 } ) %>");
$("#get_coin9").html("<%= escape_javascript(render partial: 'coins9/navbar', locals: { get_coin: coin9_path(@name9), name: @name9} ) %>");

<% if logged_in? && user_coin.coin_9 %>
  $("#title9").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data9, name: @name9, coin_type: @coin_type9, usd: @usd9 } ) %>");
<% end %>

$('#loadingmessage9').hide();
$('#line_chart9').show();
