.notice {
  color: lawngreen;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  text-align: center;
}

.alert {
  color: indianred;
  border-right-style: solid;
  border-left-style: solid;
  border-top-style: solid;
  border-bottom-style: solid;
  text-align: center;
}

body {
  font-family: Roboto, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 40px;
  line-height: 45px;
  font-weight: 300;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

h3 {
  margin-top: 11px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 400;
  font-family: Sanfranciscodisplay, sans-serif;
  color: #FFFFFF;
}

p {
  margin-bottom: 10px;
  font-size: 15px;
  line-height: 24px;
}

.nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 50px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #23303a;
}

.nav.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.nav-container {
  width: 80%;
  height: 100%;
  max-width: none;
  margin-right: 0px;
  margin-left: 0px;
}

.nav-menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.hero-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 500px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ebebeb;
}

.hero-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.section-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  padding-top: 70px;
  padding-bottom: 70px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #f0f1f3;
}

.wrap-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.column-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 15px;
  padding: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .2);
  text-align: center;
}

.subhead-1 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 300;
}

.paragraph-3 {
  max-width: 280px;
  font-size: 14px;
  line-height: 20px;
}

.icon {
  margin-top: 10px;
  margin-bottom: 40px;
}

.nav-link {
  color: #fff;
}

.hero-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.button {
  margin-top: 20px;
  padding: 15px 25px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 0 0 transparent;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #000;
  font-weight: 500;
}

.button:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .2);
}

.class {
  margin-right: 2px;
  margin-left: 2px;
  padding: 4px 5px;
  border-radius: 2px;
  background-color: #3b79c3;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: #fff;
  font-size: 12px;
}

.class-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 50px;
  padding-bottom: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  color: #000;
}

.wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
}

.logos-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #34363b;
}

.logos-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  opacity: 0.19;
}

.left-1 {
  width: 50%;
  padding: 50px 20px;
}

.right-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.column-1-title {
  margin-bottom: 20px;
}

.left-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.right-2 {
  width: 50%;
  padding: 50px 20px;
  text-align: left;
}

.footer-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #34363b;
  color: #fff;
}

.footer-top-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.footer-bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #23303a;
}

.footer-bottom-wrap {
  width: 80%;
}

.legal {
  font-family: Sanfranciscodisplay, sans-serif;
  color: #fff;
  font-size: 16px;
}

.section-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 80px;
  padding-bottom: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.wrap-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.column-wrap-1 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: -15px;
  margin-left: -15px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
}

.heading-3 {
  text-align: left;
}

.subhead-3 {
  margin-bottom: 40px;
  text-align: left;
}

.column-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 30px;
  margin-right: -20px;
  margin-left: -20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.column-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.heading-4 {
  margin-top: 30px;
}

.heading-2 {
  font-family: Roboto, sans-serif;
  color: #000;
  font-size: 32px;
  line-height: 36px;
  font-weight: 400;
}

.screenshot {
  border-radius: 3px;
  box-shadow: 0 20px 50px 0 rgba(0, 0, 0, .2);
}

.caption-2 {
  max-width: 320px;
  margin-top: 20px;
  color: #777;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

.footer-logo {
  margin-top: 40px;
  margin-bottom: 40px;
}

.footer-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-link {
  margin-left: 50px;
  color: #fff;
  text-decoration: none;
}

.hero-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.caption-1 {
  max-width: 320px;
  margin-top: 20px;
  color: rgba(0, 0, 0, .5);
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

.customers-logo {
  margin: 10px;
}

.caption-4 {
  max-width: 320px;
  margin-top: 20px;
  color: #777;
  font-size: 13px;
  line-height: 21px;
  text-align: center;
}

.caption-3 {
  max-width: 320px;
  margin-top: 20px;
  color: #777;
  font-size: 13px;
  line-height: 21px;
}

.chart-section {
  width: 100%;
  height: 490px;
  padding: 20px;
  background-color: #eff2f5;
  text-align: center;
}

.sidebar-section {
  background-color: #eff2f5;
}

.search-field {
  display: block;
  width: 80%;
  float: left;
  border-style: none;
  background-color: transparent;
  font-family: Sanfranciscodisplay, sans-serif;
  color: #a5afb6;
  font-size: 18px;
  font-weight: 400;
}

.search-field:focus {
  border-color: #3898EC;
  outline: 0;
}

.search-form {
  display: block;
  width: 100%;
  margin-top: 5px;
  margin-right: auto;
  margin-left: auto;
}

.search-btn {
  display: block;
  padding-top: 5px;
}

.nav-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 5px;
  // background-color: #2f3e4a;
  font-family: Sanfranciscodisplay, sans-serif;
  color: #fff;
  font-size: 18px;
  width: 28px;
}

.nav-btn.setting {
  background-color: transparent;
}

.dropdown-icon {
  color: #25daba;
}

.nav-btn-txt {
  padding-right: 20px;
}

.nav-btn-icon {
  margin-right: 5px;
}

.button-2 {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  border-radius: 20px;
  background-color: #23303a;
}

.add-coin-input {
  padding-top: 10px;
  padding-left: 15px;
}

.add-coin-img {
  margin-right: 10px;
  margin-top: 6px;
}

.add-coin-btn {
  position: static;
  margin-top: 135px;
  padding: 10px 25px;
  border-style: none;
  border-radius: 30px;
  background-color: #23303a;
  box-shadow: 0 0 11px 3px rgba(35, 48, 58, .2);
}

.add-coin-txt {
  padding-top: 5px;
  padding-right: 50px;
  float: left;
  font-family: Sanfranciscodisplay, sans-serif;
  color: #fff;
  font-size: 18px;
}

.add-coin-icon {
  float: right;
}

.price-wrapper {
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid #c6cace;
}

.coin-name {
  padding-top: 20px;
  float: left;
  font-family: Sanfranciscodisplay, sans-serif;
  font-size: 18px;
}

.coin-name.green {
  color: #25daba;
}

.coin-name.red {
  color: #e04545;
}

.price {
  display: block;
  float: right;
  clear: right;
  font-family: Sanfranciscodisplay, sans-serif;
  color: #23303a;
  font-size: 18px;
}

.price.small-top {
  color: #23303a;
  font-size: 12px;
}

.status-icon {
  display: inline-block;
  margin-top: 10px;
  margin-left: 5px;
  float: right;
}

.div-block {
  display: inline-block;
  float: right;
}

.dropdown-link {
  font-family: Sanfranciscodisplay, sans-serif;
  color: #23303a;
  font-size: 16px;
}

.dropdown-link:hover {
  background-color: #2f3e4a;
  color: #fff;
}

.dropdown-list.w--open {
  background-color: #eff2f5;
}

.share-icon {
  position: absolute;
  left: 83px;
  top: -7px;
  right: 0px;
  bottom: 0px;
  margin-top: 21px;
  margin-right: 20px;
  margin-bottom: 21px;
  float: none;
}

.utility-page-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.utility-page-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.utility-page-form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.main-columns {
  padding-right: 0px;
  padding-left: 0px;
}

.chart-column {
  display: block;
  padding: 5px;
}

.coin-column {
  padding: 5px;
}

.column-wrapper.coin {
  padding-left: 5px;
}

.column-wrapper.coin.right-gap {
  margin-right: 5px;
}

.brand {
  position: relative;
}

.body {
  padding: 5px;
}

.header-wrapper {
  display: inline-block;
  width: 100%;
  background-color: #23303a;
}

.text-block {
  font-family: Sanfranciscodisplay, sans-serif;
  color: #fff;
  font-size: 44px;
  line-height: 40px;
}

.nav-title-wrapper {
  display: block;
  margin-bottom: 20px;
}

.paragraph-5 {
  font-family: Sanfranciscodisplay, sans-serif;
  color: #fff;
  font-size: 14px;
}

.nav-decription-wrapper {
  width: 50%;
  margin-top: 20px;
}

.call-to-action {
  display: block;
  margin-left: 40px;
  float: none;
  -webkit-box-flex: 0;
  -webkit-flex: 0 auto;
  -ms-flex: 0 auto;
  flex: 0 auto;
}

.logo-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.cta-btn {
  padding: 10px 25px;
  border-radius: 30px;
  background-color: #fff;
  background-image: -webkit-linear-gradient(270deg, #fff, hsla(0, 0%, 71%, .67) 99%);
  background-image: linear-gradient(180deg, #fff, hsla(0, 0%, 71%, .67) 99%);
  color: #23303a;
}

.divider {
  width: 2px;
  height: 100%;
  margin-right: 30px;
  margin-left: 30px;
  background-color: #a0a0a0;
}

.div-block-2 {
  position: relative;
}

.text-field {
  width: 100%;
}

.image {
  position: absolute;
  top: 30px;
  right: 7px;
}

.div-block-3 {
  position: relative;
}

.field-label {
  font-family: Sanfranciscodisplay, sans-serif;
  color: #fff;
  font-size: 14px;
  font-weight: 100;
}

.heading-6 {
  font-family: Sanfranciscodisplay, sans-serif;
  color: #fff;
  font-weight: 400;
}

@media (max-width: 991px) {
  .logos-wrap {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .column-wrap-1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .column-wrap-2 {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .column-2 {
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
  }
}

@media (max-width: 767px) {
  .hero-section {
    height: auto;
  }
  .hero-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }
  .wrap-1 {
    text-align: center;
  }
  .hero-left {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
  .wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .wrap-2.a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .left-1 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .right-1 {
    width: 100%;
  }
  .left-2 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .right-2 {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    text-align: center;
  }
  .heading-3 {
    text-align: center;
  }
  .subhead-3 {
    text-align: center;
  }
  .hero-right {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

@media (max-width: 479px) {
  .footer-top-wrap {
    padding-bottom: 33px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .column-wrap-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .column-2 {
    width: 100%;
  }
  .footer-link {
    margin-right: 20px;
    margin-left: 20px;
  }
  .icon-2 {
    color: #a5afb6;
  }
}

@font-face {
  font-family: 'Sanfranciscodisplay';
  src: font-url('SanFranciscoDisplay-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}
