<div class="header-wrapper">
  <div class="header nav w-nav" data-animation="default" data-collapse="medium" data-duration="400">
    <div class="w-row">

      <div class="w-col w-col-9">
        <div class="nav-title-wrapper">
          <div class="text-block">Coin of the Week</div>
        </div>
        <div class="logo-wrapper">
          <a class="brand w-nav-brand" href="#">
            <%= image_tag "logo_credo.png", width: 160 %>
          </a>
          <div class="call-to-action">
            <a class="cta-btn w-button" href="#">View The Presale</a>
          </div>
        </div>
        <div class="nav-decription-wrapper">
          <p class="paragraph-5">Credo Coin is an open source cryptocurrency and payment network launched in November 2013 by anonymous software developer BCNext. It uses proof-of-stake to reach consensus for transactions—as such there is a static money supply and, unlike bitcoin, no mining. Credo Coin was specifically conceived as a flexible platform around which to build applications and financial services.</p>
        </div>
      </div>

      <div class="w-col w-col-3">
        <div class="w-form">
          <% if logged_in? %>
            <%= link_to 'Logout', logout_path, class: "cta-btn w-button", style: "float:right" %>
          <% else %>
            <h4 class="heading-6">Register/Login to save your charts.</h4>

            <%= form_for User.new do |f| %>
              <% flash.each do |key, value| %>
                <div class="<%= key %>"><%= value %></div>
              <% end %>
              <div class="div-block-3">
                <%= image_tag "2.png", class: "image", width: 30 %>
                <label class="field-label" for="email">Email</label>
                <input class="w-input" data-name="email" id="email" maxlength="256" name="email" placeholder="Email" required="required" type="text">
              </div>
              <div class="div-block-2">
                <%= image_tag "1.png", class: "image", width: 30 %>
                <label class="field-label" for="password">Password:</label>
                <input class="text-field w-input" data-name="password" id="password" maxlength="256" name="password" placeholder="Password" required="required" type="password">
              </div>
              <%= f.submit 'Register/Login', class: "cta-btn w-button" %>
            <% end %>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</div>
