<div class="nav w-nav" data-animation="default" data-collapse="medium" data-duration="400">
  <h3><%= name %></h3>
  <div class="nav-container w-container">
    <nav class="nav-menu w-nav-menu" role="navigation">
      <div class="nav-btn">
        <%= link_to image_tag('reload.svg'), get_coin, onclick: "$('#loadingmessage').show();$('#line_chart').hide();", remote: true %>
      </div>
    </nav>
  </div>
</div>
