<!DOCTYPE html>
<html>
  <head>
    <title>Credo Coin</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href="https://daks2k3a4ib2z.cloudfront.net/img/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">

    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js' %>
    <%= javascript_include_tag 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js' %>
    <%= javascript_include_tag 'nxtcoin' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <%= render 'layouts/header' %>
      <%= yield %>
    </div>
    <div class="footer-bottom">
      <div class="footer-bottom-wrap">
        <div class="legal">© 2017 All Rights Reserved.</div>
      </div>
    </div>
    <div class="w-embed">
      <style>
        .xxx { background: rgba(0,0,0,0.05); }
      </style>
    </div>
  </body>
</html>
