<%= line_chart graph_data, curve: false, height: "350px", id: "chart1" %>
<div id="title">
  <%= render partial: 'home/title', locals: { sidebar_data: @sidebar_data, name: @name, coin_type: @coin_type, usd: @usd} %>
</div>
