<div class="main-columns w-col w-col-6">
  <div class="row w-row">

    <div class="chart-column w-col w-col-8">
      <div class="column-wrapper">
        <div id="get_coin">
          <%= render partial: 'coins/navbar', locals: { get_coin: coin_path(@name), name: @name} %>
        </div>
        <div class="chart-section">
          <div id='loadingmessage' style='display:none'>
            <%= image_tag "loading.gif" %>
          </div>
          <div id="line_chart">
            <%= render partial: 'coins/chart', locals: { graph_data: @graph_data} %>
          </div>
        </div>
      </div>
    </div>

    <div class="coin-column w-col w-col-4">
      <div class="coin column-wrapper right-gap">
        <div class="nav w-nav">
          <div class="search-form w-clearfix">
            <%= text_field_tag :name, params[:name], placeholder: "Select Coin", class: "search-field w-input" %>
            <%= image_tag "magnifying-glass.svg", width: "28", class: 'search-btn' %>
          </div>
        </div>

        <div id="sidebar_menu" >
          <%= render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data, name: @name, coin_type: @coin_type, usd: @usd} %>
        </div>
      </div>
    </div>
  </div>
</div>
