$("#sidebar_menu").html("<%= escape_javascript(render partial: 'home/sidebar', locals: { sidebar_data: @sidebar_data, name: @name, coin_type: @coin_type, usd: @usd } ) %>");
$("#line_chart").html("<%= escape_javascript(render partial: 'coins/chart', locals: { graph_data: @graph_data } ) %>");
$("#get_coin").html("<%= escape_javascript(render partial: 'coins/navbar', locals: { get_coin: coin_path(@name), name: @name} ) %>");
$("#title").html("<%= escape_javascript(render partial: 'home/title', locals: { sidebar_data: @sidebar_data, name: @name, coin_type: @coin_type, usd: @usd } ) %>");

$('#loadingmessage').hide();
$('#line_chart').show();
